@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@1,300&family=Oleo+Script+Swash+Caps&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 100%;
    
background-size: 100%;

}

nav{
    display: flex;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    justify-content: space-around;
    align-items: center;
    background: rgb(0, 126, 158);
    height: 8vh;
    flex-direction: column;
    top: 0%;


}

ul{
    list-style: none;
    padding-left: 0;

}
 
li{
    background-color: rgb(0, 126, 158);
    display: block;
    float: left;
    padding: 1rem;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s; 
    
}

li a{
    color:#ccc;
    text-decoration: dashed;
}

li ul{
    visibility: hidden;
    opacity: 0;
    min-width: 5rem;
    position: fixed;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    display: flex;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

li ul li{
    clear: both;
    width: 100%;
}

ul li:hover,
ul li:focus-within{
    background-color: rgb(252, 233, 69);
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}
a:hover{
    color:rgb(81, 247, 30);
}

ul li:hover>ul,
ul li:focus-within>ul,
ul li ul:hover,
ul li ul:focus {
    visibility: visible;
    opacity: 1;
    display: flex;
}


footer{
position:flex;
bottom: 0;
background-color: rgb(0, 126, 158);
color: #FFF;
width: 100%;
height: 70px;    
text-align: center;
line-height: 70px;
}

.bg-Verde{
    background-color: lawngreen;
}
.primeiro{
    background:rgb(166, 229, 103) ;
    padding: 25px;
    font-size: 30px;
    width: 30%;
    height: 10%;
    margin: 0 auto;
    border-radius: 20px; 
    
 
}
.segundo{
    background:rgb(166, 229, 103) ;
    padding: 25px;
    font-size: 30px;
    width: 30%;
    margin: 0 auto;
    border-radius: 20px; 
    height: 20%;
}

.terceiro{
    background:rgb(166, 229, 103) ;
    padding: 25px;
    font-size: 30px;
    width: 30%;
    margin: 0 auto;
    border-radius: 20px; 
}
.um{
    list-style: none;
    display: flex;
    justify-content: space-around;
}